pkgbase = mini-os-helper-git
	pkgdesc = PySide6 (Qt) system helper dashboard with quick actions and notes
	pkgver = 0.r12.gd974efd
	pkgrel = 1
	url = https://github.com/EvansOgala/mini-os-helper
	arch = any
	license = MIT
	options = !strip
	options = !debug
	makedepends = git
	depends = python
	depends = pyside6
	depends = xdg-utils
	depends = python-psutil
	source = mini-os-helper-git::git+https://github.com/EvansOgala/mini-os-helper.git
	sha256sums = SKIP

pkgname = mini-os-helper-git
